* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style : none;
}

body .main-body {
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;   
}
/* header */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
}

.header_top {
    padding: 5px 10px;
    background:rgba(255, 255, 255, 0);
    position: fixed;
    width: 100%;
    Z-index: 4;
    top: 0;
}

.top_logo {
    position: fixed;
    z-index: 3;
    top: 0;
    display: inline-block;
    left: 1%;
    overflow: hidden;
    position: fixed;
}

.top_logo img {
    mix-blend-mode: multiply;
    width: 330px;
    height: 210px;
    padding-left: 17px;
    padding-top: 10px;
}


.header_category {
    position: fixed;
    width: 100%;
}

.gnbBox {
    margin-top: 45px;
}

.gnb_wrap {
    text-align: center;
    display: flex;
    justify-content: center;
}

.gnbBox > ul > li {
    vertical-align: top;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
}

.gnbBox .gnb_wrap>li:hover .subnav {
    display: block;
}

.gnbBox > ul > li > a {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    padding: 0 70px;
    display: block;
}

.gnbBox .subnav {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 50px;
    color: #424242;
}

.gnbBox .subnav li {
    background-color: rgba(255, 255, 255, 0.6);
}

.gnbBox .subnav li a{
    text-decoration: none;
    color: inherit;
}

.gnbBox .gnb_wrap .subnav li a:hover {
    background: #e7e5e5; opacity: 0.9;
}

.header_category .info_wrap {
    display: flex;
    position: fixed;
    right: 80px;
    padding: 0 5px;
    color: #ffffff; opacity: 0.6;
    font-size: 18px;
}

.info_wrap a{
    color: #fff;
}

.line li {
    padding: 0 10px;
}

/* main */

.header_mainbanner {
    width: 100%;
}

.slide_container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slides{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    display: none;
    object-fit: cover;
    /* transition: transform 0.5s ease-in-out; */
}

.slide.active {
    display: block;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

.caravan {
    text-align: center;
    padding-top: 65px;
}

.caravan img {
    width: 200px;
    height: 200px;
}

.caravan p {
    color: #666666;
    padding-top: 65px;
    font-size: 20px;
}

.slick {
    padding: 150px 150px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-prev {
    left: -25px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    padding: 0px;
    transform: translate(0px, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:before {
    content: '←';
}

.slick-prev:before {
    font-family: 'slick';
    font-size: 50px;
    line-height: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.slick-slider.slick-list {
    transform: translate3d(0, 0, 0)
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
}



.slick-slider img {
    width: 80%;
    height: 350px;
    text-align: center;
}

.only h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}

.only p {
    font-size: 18px;
    color: #666666;
    text-align: center;
    padding-top: 30px;
}

.facility1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 200px 0;
}

.facility1 img {
    width: 750px;
    height: 550px;
    flex: 1;
}

.facility1 p {
    font-size: 18px;
    color: #666666;
    line-height: 25px;
    text-align: center;
    padding: 215px 0;
    flex: 1;   
}

.facility2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

.facility2 img {
    width: 750px;
    height: 550px;
    flex: 1;
}

.facility2 p {
    font-size: 18px;
    color: #666666;
    line-height: 25px;
    text-align: center;
    padding: 215px 0;
    flex: 1;
}

.facility3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

.facility3 img {
    width: 750px;
    height: 550px;
    flex: 1;
}

.text-container p {
    font-size: 18px;
    color: #666666;
    line-height: 25px;
    text-align: center;
    flex: 1;
    padding-top: 80px;
    padding-right: 82px;
    padding-left: 82px;
}

.text-container .location p {
    font-size: 16px;
    color: #666666;
    line-height: 25px;
    flex: 1;
    padding-top: 100px;
    text-align: left;
}

/* footer */
.footer {
    background-color: #dddddd;
    width: 100%;
    height: 300px;
}

.footer img {
    width: 231px;
    height: 147px;
    padding-left: 200px;
    padding-top: 35px;
}

.footer_info {
    display: flex;
    padding: 15px 205px 0px;
    font-size: 15px;
    color: #666666;
    justify-content: space-between;
}

.address p {
    text-align: center;
}

.manager p {
    text-align: right;
}

/* popup */

.layerpopup img {
    width: 400px;
    height: 460px;
}



.layerpopup:before {
    display: block;
    position: fixed;
    left: 0; top:0; width: 100%; height: 100%;
    background: (0,0,0,0.5);
    z-index: 900;
}

.layerpopup .layerBox {
    z-index:10000;   
    position:fixed;
    left:85%;
    top:48%;
    transform:translate(-50%, -50%);
    padding:8px;
    background:#fff;
}

    .layerpopup .layerBox .btnTodayHide {
    font-size:14px;
    font-weight:600;
    color:black; 
    float: left;
    text-decoration:none;
    width: 150px; 
    height : 30px;
    line-height:30px;
    border:black solid 1px;
    text-align : center;
    text-decoration:none;
    }

    .layerpopup div{
        display : inline;
    }

    .layerpopup form{
        margin-top : 10px;
        font-size:15px;
        width: 100%;
        height : 30px;
    }
    .layerpopup #close {
    font-size:16px;
    font-weight:600;
    width: 40px;
    height : 30px;
    color:black;
    float: right;
    line-height:30px;
    text-align : center;
    text-decoration:underline;
    }
    
    .layerpopup a{
        text-decoration : none;
        color : black;
        width: 50px;
        height : 40px;
    }